<?xml
    version="1.0"
    encoding="utf-8"?>

<nlog
    xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

    <targets>
        <target
            xsi:type="File"
            name="logfile"
            encoding="utf-8"
            fileName="logs/${date:format=yyyy-MM-dd}.log"
            layout="${level:uppercase=true} | ${longdate} | ${logger:shortName=true} | ${message} ${when:when=length('${exception}')>0:Inner=| }${exception:format=tostring} ${when:when=length('${innerMessage}')>0:Inner=| }${innerMessage}" />
        <target
            xsi:type="ColoredConsole"
            name="logconsole"
            encoding="utf-8"
            layout="${level:uppercase=true} | ${longdate} | ${logger:shortName=true} | ${message} ${when:when=length('${exception}')>0:Inner=| }${exception:format=tostring} ${when:when=length('${innerMessage}')>0:Inner=| }${innerMessage}">
            <highlight-row condition="level == LogLevel.Trace" foregroundColor="LightGray" />
            <highlight-row condition="level == LogLevel.Debug" foregroundColor="White" />
            <highlight-row condition="level == LogLevel.Info" foregroundColor="Green" />
            <highlight-row condition="level == LogLevel.Warn" foregroundColor="Yellow" />
            <highlight-row condition="level == LogLevel.Error" foregroundColor="Red" />
        </target>
    </targets>

    <rules>
        <logger
            name="*"
            minlevel="Trace"
            writeTo="logfile,logconsole" />
    </rules>
</nlog>